

/* Базовые настройки body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../images/second_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* Размещаем элементы по вертикали */
    justify-content: center;
    align-items: center;
    font-family: 'FiraSans', sans-serif;
    text-align: center; /* Центрируем текст */
    position: relative; /* Для позиционирования лиц */
    overflow-y: hidden;
    overflow-x: hidden;
}


/* Крестик для возврата */
.back-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3.5vh;
    margin-right: 2vw;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 20; /* Чтобы быть поверх всех элементов */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Для лучшей видимости */
    opacity: 0; /* Скрываем крестик */
    visibility: hidden; /* Дополнительно скрываем */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавное появление */
}

.back-button img {
    width: 2.5vw;
}

/* Крестик становится видимым */
.back-button.visible {
    opacity: 1;
    visibility: visible;

}


/* Контейнер для роз */
.roses-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Размещаем розы под основным контентом */
}

/* Общие стили для роз */
.rose {
    position: absolute;
    width: 380px; /* Размер роз */
    /* height: 50px; Размер роз */
    cursor: pointer;
}

/* Позиции для каждой розы */
.rose-1 {
    top: -5%;
    left: 0%;
    transform: rotate(181deg);
}

.rose-2 {
    top: -14%;
    left: 16%;
    transform: rotate(-155deg);
}

.rose-3 {
    top: -23%;
    left: 33%;
    transform: rotate(227deg);
}

.rose-4 {
    top: -24%;
    right: 17%;
    transform: rotate(239deg);

}

.rose-5 {
    top: -16%;
    right: -1%;
    transform: rotate(265deg);
}

.rose-6 {
    top: 12%;
    right: -7%;
    transform: rotate(286deg);
}

.rose-7 {
    bottom: 9%;
    right: -11%;
    transform: rotate(-15deg);
}

.rose-8 {
    bottom: -5%;
    right: 0%;
    transform: rotate(-14deg);
}

.rose-9 {
    bottom: -19%;
    right: 20%;
    transform: rotate(33deg);
}

.rose-10 {
    bottom: -23%;
    right: 40%;
    transform: rotate(55deg);
}

.rose-11 {
    bottom: -18%;
    left: 11%;
    transform: rotate(81deg);
}

.rose-12 {
    bottom: -7%;
    left: -5%;
    transform: rotate(104deg);
}

.rose-13 {
    top: 55%;
    left: -13%;
    transform: rotate(121deg);
}

.rose-14 {
    top: 11%;
    left: -6%;
    transform: rotate(167deg);
}

.rose-15 {
    bottom: 29%;
    right: -6%;
    transform: rotate(-34deg);
}

.rose-16 {
    bottom: 34%;
    left: -12%;
    transform: rotate(142deg);
}


/* Обертка для каждой пары роз */


/* Коллажные розы */
.selected-rose {
    position: absolute;
    width: 344px;
    opacity: 0; /* Скрытые по умолчанию */
    transition: opacity 0.3s ease; /* Плавное появление */
    z-index: 1; /* Коллажная роза ниже синей */
}

/* Эффект наведения */
.rose-wrapper:hover .selected-rose {
    opacity: 1; /* Показываем коллажную розу */
}

/* Позиции для каждой коллажной розы */
.selected-rose-1 {
    top: -12%;
    left: 6%;
    transform: rotate(229deg);
}

.selected-rose-2 {
    top: -16%;
    left: 22%;
    transform: rotate(-106deg);
}

.selected-rose-3 {
    top: -21%;
    left: 35%;
    transform: rotate(230deg);
}

.selected-rose-4 {
    top: -18%;
    right: 17%;
    transform: rotate(282deg);

}

.selected-rose-5 {
    top: -14%;
    right: 1%;
    transform: rotate(319deg);
}

.selected-rose-6 {
    top: 11%;
    right: -2%;
    transform: rotate(339deg);
}

.selected-rose-7 {
    bottom: 1%;
    right: -4%;
    transform: rotate(42deg);
}

.selected-rose-8 {
    bottom: -11%;
    right: 4%;
    transform: rotate(39deg);
}

.selected-rose-9 {
    bottom: -19%;
    right: 23%;
    transform: rotate(52deg);
}

.selected-rose-10 {
    bottom: -16%;
    right: 42%;
    transform: rotate(71deg);
}

.selected-rose-11 {
    bottom: -15%;
    left: 12%;
    transform: rotate(136deg);
}

.selected-rose-12 {
    bottom: -8%;
    left: -2%;
    transform: rotate(151deg);
}

.selected-rose-13 {
    top: 44%;
    left: -6%;
    transform: rotate(157deg);
}

.selected-rose-14 {
    top: 5%;
    left: 0%;
    transform: rotate(207deg);
}

.selected-rose-15 {
    bottom: 21%;
    right: 0%;
    transform: rotate(10deg);
}

.selected-rose-16 {
    bottom: 32%;
    left: -6%;
    transform: rotate(185deg);
}



/* Центральный контент */
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; /* Размещаем поверх роз */
}

/* Изображение EX */
.ex-image {
    width: 550px; /* Размер изображения */
    height: auto; /* Сохраняем пропорции */
    margin-bottom: 20px; /* Отступ между изображением и текстом */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности */
    cursor: pointer;
}

/* Текст */
.ex-text {
    font-size: 1.8rem;
    color: white;
    line-height: 1.5;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Для лучшей видимости */
}